* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

table {
    text-align: center;
    width: 50%;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    color: #000000;
    margin: 0 auto;
}

table td, table th {
    border-width: 2px;
    border-color: #7ea8f8;
    border-style: solid;
    padding: 5px;
}

table thead {
    background-color: #7ea8f8;
}

table caption {
    background: #7ea8f8;
    padding: 5px;
    font-weight: bolder;
    font-size: medium;
}

form {
    width: 50%;
    margin: 0 auto 15px;
    border: 2px solid #7ea8f8;
    color: #000000;
    padding: 10px;
    text-align: center;
}

label, input {
    margin: 10px 0;
    width: 100%;
    disply: inline-block;
}

button {
    background: #7ea8f8;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

.hidden {
    display: none;
}
